
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/woniubookhz0103?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&useSSL=false
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      initialSize: 10
      maxActive: 30
      minIdle: 5
      maxWait: 2000
      poolPreparedStatements: true
      maxOpenPreparedStatements: 20
  thymeleaf:
    cache: false


mybatis-plus:
  mapper-locations: classpath:/mappers/*.xml
  type-aliases-package: com.woniuxy.qiantai.vo
  configuration:
    map-underscore-to-camel-case: false
  global-config:
    db-config:
      id-type: auto
