<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myOrder</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>-->
<!--        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}"/>
    <script th:src="@{/vue.js}"></script>
</head>
<body>
<div th:id="_app">
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>typeId</th>
            <th>provider</th>
            <th>author</th>
            <th>price</th>
            <th>detail</th>
            <th>imgsrc</th>
            <th>collectioncount</th>
            <th>storecount</th>
            <th>buycount</th>
            <th>readcount</th>
            <th>createtime</th>
            <th>updatetime</th>
            <th>state</th>
            <th>verison</th>
            <th>修改</th>
            <th>删除</th>
        </tr>
        <tr v-for="book in bookList">
            <td><input type="text" name="id"  v-model="book.id"></td>
            <td><input type="text" name="name"  v-model="book.name"></td>
            <td><input type="text" name="typeId"  v-model="book.typeid"></td>
            <td><input type="text" name="provider"  v-model="book.provider"></td>
            <td><input type="text" name="author"  v-model="book.author"></td>
            <td><input type="text" name="price"  v-model="book.price"></td>
            <td><input type="text" name="detail"  v-model="book.detail"></td>
            <td><input type="text" name="imgsrc"  v-model="book.imgsrc"></td>
            <td><input type="text" name="collectioncount"  v-model="book.collectioncount"></td>
            <td><input type="text" name="storecount"  v-model="book.storecount"></td>
            <td><input type="text" name="buycount"  v-model="book.buycount"></td>
            <td><input type="text" name="readcount"  v-model="book.readcount"></td>
            <td><input type="text" name="createtime"  v-model="book.createtime"></td>
            <td><input type="text" name="updatetime"  v-model="book.updatetime"></td>
            <td><input type="text" name="state"  v-model="book.state"></td>
            <td><input type="text" name="verison"  v-model="book.version"></td>
            <td>
                <button @click.prevent="update(book)">修改</button>
            </td>
            <td>
                <button @click.prevent="del(book)">删除</button>
            </td>
        </tr>
    </table>

</div>

<script>
    new Vue({
        el: "#_app",
        data: {
            bookList: [],
            book:''

        },
        methods: {
            initBookList() {
                let _this = this;

                $.get("/book/crud", function (data) {
                    console.log(data)
                    _this.bookList = data;
                })
            },
            update(book){
                let _this = this;
                console.log(book)
                var book = JSON.stringify(book)
                console.log(book)
                $.post("/book/update",{book:book})

            }

        },
        created() {
            this.initBookList();

        }

    });
</script>

</body>
</html>