<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>booksOfType</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div th:insert="publicHeader"/>
<script th:src="@{/publicHeader.js}"></script>



<div class="container-fluid" id="app" style="margin-top: 180px;margin-bottom: 100px">

    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="" alt="..." class="col-sm-6 col-md-6">
                    <div class="caption text-left">
                        <p>书名:<span>name</span></p>
                        <p>作者:<span>author</span></p>
                        <p>价格:<span>price</span></p>
                        <p>
                            <a class="btn btn-primary" href="">详情</a> &nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-success" href="">todo加入购物车</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-md-offset-5 col-lg-offset-4col-xl-offset-5" >
                <ul class="pagination justify-content-center">
                    <li><a href="javascript:void(0)" >&laquo;</a></li>
                    <li><a href="javascript:void(0)" >n</a></li>
                    <li><a href="javascript:void(0)" >&raquo;</a></li>
                </ul>
            </div>
        </div>

    </div>


</div>

<script>

    console.log(".........booksOfType...........")

    new Vue({
        el: "#app"
        ,
        data: {
            typeId:[[${typeId}]],
            books:[],
            currentPage:1,
            pageSize:3,
            total:0,
            totalPages:0
        }
        ,
        methods: {
            initBooks(){
                let _this=this;
                let params={
                    currentPage: this.currentPage,
                    pageSize : this.pageSize,
                    typeId: this.typeId
                }
                $.post("/book/pageBooksOfType",params,function (data) {
                    console.log(data)
                    _this.books=data.records;
                    _this.currentPage=data.current;
                    _this.pageSize=data.size;
                    //数据总量
                    _this.total=data.total;
                    //总页数
                    _this.totalPages=data.pages;
                })
            }
        }
        ,
        created(){
            this.initBooks();
        }

    });


</script>


<div th:insert="publicFooter"/>
<script th:src="@{/publicFooter.js}"></script>


</body>
</html>