<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.libdemo.mapper.AddressMapper">

    <resultMap id="BaseResultMap" type="com.ch.libdemo.entity.Address">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tel" column="tel" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tel,name,
        address,user_id
    </sql>
</mapper>
