<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SyntaxError -->
<mapper namespace="com.ch.libdemo.mapper.CartMapper">

    <resultMap id="BaseResultMap" type="com.ch.libdemo.entity.Cart">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productId" column="product_id" jdbcType="INTEGER"/>
            <result property="buycount" column="buycount" jdbcType="INTEGER"/>
            <result property="sumprice" column="sumprice" jdbcType="DECIMAL"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,product_id,buycount,
        sumprice,user_id
    </sql>
</mapper>
