<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.ch.libdemo.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.ch.libdemo.entity.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="ordernum" column="ordernum" jdbcType="VARCHAR"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="address_id" column="address_id" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="totalprice" column="totalprice" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,ordernum,user_id,
        address_id,status,totalprice
    </sql>
</mapper>
