<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SyntaxError -->
<mapper namespace="com.ch.libdemo.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.ch.libdemo.entity.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="productname" column="productname" jdbcType="VARCHAR"/>
            <result property="productprice" column="productprice" jdbcType="DECIMAL"/>
            <result property="productimgsrc" column="productimgsrc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,productname,productprice,
        productimgsrc
    </sql>
</mapper>
